<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>

    <h1>Error:</h1>

    <table>
        <tr>
            <td>Date:</td>
            <td th:text="${error_date}"></td>
        </tr>
        <tr>
            <td>Message:</td>
            <td th:text="${error_message}"></td>
        </tr>
        <tr>
            <td>Status Code:</td>
            <td th:text="${error_statusCode}"></td>
        </tr>
        <tr>
            <td>URL:</td>
            <td th:text="${url}"></td>
        </tr>
    </table>
    <br>
    <a href="/"><button type="button">Back to Order Page</button></a>

</body>
</html>