<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body style="margin: 20px;">

    <h1>Book details for <code th:text="${book.title}"></code>:</h1>

    <table style="text-align: left;" class="table">
        <tr>
            <th>Object ID</th>
            <td th:text="${book._id}"></td>
        </tr>        <tr>
            <th>Book ID</th>
            <td th:text="${book.bookID}"></td>
        </tr>
        <tr>
            <th>Title</th>
            <td th:text="${book.title}"></td>
        </tr>
        <tr>
            <th>Authors</th>
            <td th:text="${book.authors}"></td>
        </tr>
        <tr>
            <th>Average Rating</th>
            <td th:text="${book.averageRating}"></td>
        </tr>
        <tr>
            <th>ISBN</th>
            <td th:text="${book.isbn}"></td>
        </tr>
        <tr>
            <th>ISBN 13</th>
            <td th:text="${book.isbn13}"></td>
        </tr>
        <tr>
            <th>Language</th>
            <td th:text="${book.languageCode}"></td>
        </tr>
        <tr>
            <th>Num of Pages</th>
            <td th:text="${book.numPages}"></td>
        </tr>
        <tr>
            <th>Ratings Count</th>
            <td th:text="${book.ratingsCount}"></td>
        </tr>
        <tr>
            <th>Text Reviews Count</th>
            <td th:text="${book.textReviewsCount}"></td>
        </tr>
        <tr>
            <th>Publication Date</th>
            <td th:text="${book.publicationDate}"></td>
        </tr>
        <tr>
            <th>Publisher</th>
            <td th:text="${book.publisher}"></td>
        </tr>
    </table>

    <div>
        <a href="/"><button type="button" class="btn btn-secondary">Back to Home Page</button></a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>