<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    
    <h1>Order Form</h1>

    <form action="/order" method="post">
        <table th:object="${order}" class="table table-borderless">
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{customerName}"></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input type="text" th:field="*{shipAddress}"></td>
            </tr>
            <tr>
                <td>Notes:</td>
                <td><textarea th:field="*{notes}" cols="22" rows="5"></textarea></td>
            </tr>
            <tr>
                <td>Tax:</td>
                <td><input type="number" step=".01" th:field="*{tax}"></td>
            </tr>
            <tr>
                <td>Details:</td>
                <td><input type="text" th:field="*{orderDetails}"></td>
            </tr>
        </table>


        <div id="addColumn" class="add">
            <div id="addColumnChild"><b>+</b></div>
        </div>
        <div id="addRow" class="add">
            <div id="addRowChild"><b>+</b></div>
          </div>

        <button type="submit" class="btn btn-primary">Submit Order</button>
    </form>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>