<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post a Review</title>
</head>
<body>
    <h1>Post a Review</h1>

    <form action="/review" method="post">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" name="user"></td>
            </tr>
            <tr>
            <tr>
                <td>Rating:</td>
                <td><input type="number" name="rating"></td>
            </tr>
            <tr>
            <tr>
                <td>Comment:</td>
                <td><input type="text" name="cText"></td>
            </tr>
            <tr>
            <tr>
                <td>Game ID:</td>
                <td><input type="text" name="gid"></td>
            </tr>
        </table>
        <button type="submit">Submit Review</button>
    </form>

</body>
</html>